/* .dark-theme{
	background-color: rgb(59, 59, 59);
	color: white;
} */
body{
	font-size: 2rem;
	padding: 2rem;
}
ul{
	display: flex;
	list-style: none;
	gap: 15px;
}
.currentDay{
	color: rgb(246, 107, 47);
}