/* .dark-theme{
	background-color: rgb(59, 59, 59);
	color: white;
} */
body{
	font-size: 2rem;
	padding: 2rem;
}
#parent {
	margin: 0 auto;
	width: 600px;
}
#input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
}
#table {
	width: 100%;
}
#table td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}