.dark-theme{
	background-color: rgb(59, 59, 59);
	color: white;
}
body{
	font-size: 2rem;
	padding: 2rem;
}
#box{
	display: none;
	width: 250px;
	height: 250px;
	border: 3px solid purple;
}
#box.active{
	display: block;
}
ul{
	padding: 25px;
	border: 1px solid red;
}
li{
	padding: 25px;
	border: 1px solid green;
}
table, div {
	border: 1px solid red;
	padding: 15px;
}
td {
	text-align: center;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
a{
	color: yellow;
}
.makeGreen{
	color: green;
}
.hidden{
	display: none;
}
.active{
	background-color: red;
}
.color1{
	background-color: red;
}
.color2{
	background-color: green;
}
.color3{
	
	background-color: blue;
}

.cross-out{
	text-decoration: line-through;
}
.margin-right-25px{
	margin-right: 20px;
}