.dark-theme{
	background-color: rgb(59, 59, 59);
	color: white;
}
body{
	font-size: 2rem;
	padding: 2rem;
}
table{
	border-collapse: collapse;
	user-select: none;
}
td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
td:hover{
	background-color: rgb(200, 200, 200);
}
.correct{
	background-color: rgb(43, 204, 43);	
}
.wrong{
	background-color: rgb(207, 46, 43);
}
#container {
    width: max-content;
}
#game-info{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	border-bottom: none;
}
.red{
	color: red;
}
.green{
	color: green;
}
.timer{
	color: yellow;
}